<!DOCTYPE html>
<html>
    
<head>
    <link rel='stylesheet' href={{ url_for('static', filename='style.css') }} />    
</head>
<body>
    <h1>{{  rand_song['name']  }}</h1>
    <h2>By, {{  rand_song['artist'] }}</h2>
    
    {% if rand_song['preview'] == None %}
        <p class="warn">Preview url not available</p>
    {% endif %}
    <audio controls>
        <source src={{ rand_song['preview'] }}>
        Your browser does not support the audio element.
    </audio>
    
    <img src={{ rand_song['image'][0]['url'] }} alt="Image Load Error" width={{ rand_song['image'][0]['width'] }} height={{ rand_song['image'][0]['height'] }}>
    {% if rand_song_lyrics_url == None %}
        <p class="warn">Lyrics not available for this song :(</p>
    {% else %}
        <a class="lyrics_url" href={{ rand_song_lyrics_url }}>{{  rand_song['name']  }} Lyrics</a>
    {% endif %}
</body>

</html>
    