<!DOCTYPE html>
<html>
    
<head>
    <link rel='stylesheet' href={{ url_for('static', filename='style.css') }} />    
</head>

<body>
    <h1>{{  rand_song['name']  }}</h1>
    <audio controls autoplay>
    
      <source src={{ rand_song['preview_url'] }}>
    
     Your browser does not support the audio element.
    
     </audio>
    <h2>By, {{  rand_song['artist'] }}</h2>
    <img src={{ rand_song['image'][0]['url'] }} alt="Image Load Error" width={{ rand_song['image'][0]['width'] }} height={{ rand_song['image'][0]['height'] }}>
</body>

</html>
    